/* FONTS */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/* CUSTOM PROPS */

:root {
	--bg-color: #f0f0f0;
	--purple-color: #854dff;
	--black: #000;
	--grey: #716f6f;
}

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Poppins", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background-color: var(--bg-color);
	color: var(--black);
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 880px;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}

.app {
	background-color: #fff;
	padding: 3rem 1.5rem;
	border-radius: 24px;
	border-bottom-right-radius: 100px;
	min-width: 0;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.app__date {
	display: flex;
	gap: 16px;
}

.app__date-box {
	flex: 1;
	min-width: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	/* flex-shrink: 1 1 auto; */
}

.app__date-box input[type="number"] {
	width: 100%;
	min-width: 0;

	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: none;

	padding: 0.5rem 1rem;
	border: 1px solid #dcdcdc;
	border-radius: 8px;
	min-width: 0;
	outline: none;
	font-family: inherit;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.5;
}

.label {
	font-size: 0.75rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	color: var(--grey);
}

/* Arrow down */

.app__arrow-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.app__arrow-box img {
	width: 4rem;
	height: 4rem;
}

.app__arrow-box hr {
	border: none;
	height: 1px;
	background-color: #dcdcdc;
	margin: 0;
	width: 100%;
}

/* App content */
.app__content {
}
.app__content-text {
	display: flex;
	gap: 8px;
	margin: 0;
	font-size: 2.5rem;
	line-height: 1.1;
	letter-spacing: -2px;
	font-weight: 800;
	font-style: italic;
}
.app__content-text span {
	color: var(--purple-color);
}
/* .app__content-year {
}
.app__content-month {
}
.app__content-days {
} */

@media screen and (min-width: 768px) {
	.container {
		padding: 41px 0;
	}

	.app {
		padding: 3.5rem;
		gap: 2rem;
	}

	.app__date-box input[type="number"] {
		padding: 0.5rem 1.5rem;
		font-family: inherit;
		font-size: 2rem;
	}

	/* Arrow down */

	.app__arrow-box img {
		width: 6rem;
		height: 6rem;
	}

	/* App content */

	.app__content-text {
		font-size: 6.5rem;
	}
}

@media screen and (min-width: 1024px) {
	.app {
		gap: 0;
		min-width: 52.5rem;
	}

	.app__date-box {
		max-width: 10rem;
	}

	/* Arrow down */

	.app__arrow-box img {
		order: 1;
	}

	/* App content */

	.app__content-text {
		font-size: 6.5rem;
	}
}
